<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Objective Bank</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="mystic-client/config/environment" content="%7B%22modulePrefix%22%3A%22mystic-client%22%2C%22environment%22%3A%22production%22%2C%22APP%22%3A%7B%22apiHost%22%3A%22https%3A%2F%2Fmystic-server.herokuapp.com%22%7D%7D" />

    <link rel="stylesheet" href={{cssURL}}>


</head>
<body>


<script id="data">
    {{{data}}}
</script>

<div id="app"></div>
<script src={{scriptURL}}></script>


</body>
</html>
